.links {
font: bold 11px Arial;
text-decoration: none;
background-color: rgb(245, 237, 237);
color: #333333;
padding: 2px 6px 2px 6px;
border-top: 1px solid #ee2c2c;
border-right: 1px solid #333333;
border-bottom: 1px solid #333333;
border-left: 1px solid #ee2c2c;
}
